#na razie
*.png
*.jpg
*.gif

*.class
e-Doswiadczenia/bin/pl.gda.pg.mif.edoswiadczenia.TitlePage.apk
e-Doswiadczenia/bin/resources.ap_
e-Doswiadczenia/bin/classes.dex
e-Doswiadczenia/bin/AndroidManifest.xml
e-Doswiadczenia/bin/AndroidManifest.xml
